In [1]:
import numpy as np
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
#pd.set_option('display.height', 500)
#pd.set_option('display.max_rows', 500)

In [2]:
from datetime import datetime, date
# Imports for 'inspect/explore/reflect' columns
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
# Import 'func' and 'desc' function, in order to execute count and descend
from sqlalchemy import func, or_, and_
from sqlalchemy import desc

engine = create_engine("sqlite:///DataSets/belly_button_biodiversity.sqlite")
session = Session(engine)

In [124]:
_csvpath = os.path.join('DataSets', 'belly_button_biodiversity_samples.csv')
_data = pd.read_csv(_csvpath)
type(_data)

pandas.core.frame.DataFrame

In [122]:
_data.columns

Index(['otu_id', 'BB_940', 'BB_941', 'BB_943', 'BB_944', 'BB_945', 'BB_946',
       'BB_947', 'BB_948', 'BB_949',
       ...
       'BB_1562', 'BB_1563', 'BB_1564', 'BB_1572', 'BB_1573', 'BB_1574',
       'BB_1576', 'BB_1577', 'BB_1581', 'BB_1601'],
      dtype='object', length=154)

In [5]:
column_names = list(_data.columns)
del column_names[0]

In [6]:
_datadf = pd.DataFrame(_data)
#_datadf.head()

#### Testing to_dict method for key, value per row

In [7]:
blahblah = _datadf.to_dict(orient = 'records')
#print(blahblah[0])

#### Using reflection to pull column keys

In [8]:
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['otu', 'samples', 'samples_metadata']

In [9]:
Samples = Base.classes.samples

In [10]:
samples = Samples.__table__.columns.keys()

In [11]:
del samples[0]
print(samples)

['BB_940', 'BB_941', 'BB_943', 'BB_944', 'BB_945', 'BB_946', 'BB_947', 'BB_948', 'BB_949', 'BB_950', 'BB_952', 'BB_953', 'BB_954', 'BB_955', 'BB_956', 'BB_958', 'BB_959', 'BB_960', 'BB_961', 'BB_962', 'BB_963', 'BB_964', 'BB_966', 'BB_967', 'BB_968', 'BB_969', 'BB_970', 'BB_971', 'BB_972', 'BB_973', 'BB_974', 'BB_975', 'BB_978', 'BB_1233', 'BB_1234', 'BB_1235', 'BB_1236', 'BB_1237', 'BB_1238', 'BB_1242', 'BB_1243', 'BB_1246', 'BB_1253', 'BB_1254', 'BB_1258', 'BB_1259', 'BB_1260', 'BB_1264', 'BB_1265', 'BB_1273', 'BB_1275', 'BB_1276', 'BB_1277', 'BB_1278', 'BB_1279', 'BB_1280', 'BB_1281', 'BB_1282', 'BB_1283', 'BB_1284', 'BB_1285', 'BB_1286', 'BB_1287', 'BB_1288', 'BB_1289', 'BB_1290', 'BB_1291', 'BB_1292', 'BB_1293', 'BB_1294', 'BB_1295', 'BB_1296', 'BB_1297', 'BB_1298', 'BB_1308', 'BB_1309', 'BB_1310', 'BB_1374', 'BB_1415', 'BB_1439', 'BB_1441', 'BB_1443', 'BB_1486', 'BB_1487', 'BB_1489', 'BB_1490', 'BB_1491', 'BB_1494', 'BB_1495', 'BB_1497', 'BB_1499', 'BB_1500', 'BB_1501', 'BB_1502', 'BB_1503', 'BB_1504', 'BB_1505', 'BB_1506', 'BB_1507', 'BB_1508', 'BB_1510', 'BB_1511', 'BB_1512', 'BB_1513', 'BB_1514', 'BB_1515', 'BB_1516', 'BB_1517', 'BB_1518', 'BB_1519', 'BB_1521', 'BB_1524', 'BB_1526', 'BB_1527', 'BB_1530', 'BB_1531', 'BB_1532', 'BB_1533', 'BB_1534', 'BB_1535', 'BB_1536', 'BB_1537', 'BB_1539', 'BB_1540', 'BB_1541', 'BB_1542', 'BB_1543', 'BB_1544', 'BB_1545', 'BB_1546', 'BB_1547', 'BB_1548', 'BB_1549', 'BB_1550', 'BB_1551', 'BB_1552', 'BB_1553', 'BB_1554', 'BB_1555', 'BB_1556', 'BB_1557', 'BB_1558', 'BB_1561', 'BB_1562', 'BB_1563', 'BB_1564', 'BB_1572', 'BB_1573', 'BB_1574', 'BB_1576', 'BB_1577', 'BB_1581', 'BB_1601']

### @app.route('/names')

In [12]:
Samples_otu = Base.classes.otu
otu_samples = Samples_otu.__table__.columns.keys()
otu_samples

['otu_id', 'lowest_taxonomic_unit_found']

In [38]:
otu_query = session.query(Samples_otu.lowest_taxonomic_unit_found).all()

In [36]:
otu_list = []
for each in otu_query:
    otu_list.append(each[0])
    
#print(otu_list)

### @app.route('/metadata/sample')

In [27]:
Samples_meta = Base.classes.samples_metadata
Samples_meta.__table__.columns.keys()

['SAMPLEID',
 'EVENT',
 'ETHNICITY',
 'GENDER',
 'AGE',
 'WFREQ',
 'BBTYPE',
 'LOCATION',
 'COUNTRY012',
 'ZIP012',
 'COUNTRY1319',
 'ZIP1319',
 'DOG',
 'CAT',
 'IMPSURFACE013',
 'NPP013',
 'MMAXTEMP013',
 'PFC013',
 'IMPSURFACE1319',
 'NPP1319',
 'MMAXTEMP1319',
 'PFC1319']

In [16]:
results = session.query(Samples_meta.AGE, Samples_meta.BBTYPE, Samples_meta.ETHNICITY , 
                        Samples_meta.GENDER , Samples_meta.LOCATION, Samples_meta.SAMPLEID).all()

In [17]:
# for result in results:
#     print(result.AGE)

In [18]:
#results_df = pd.DataFrame(results)
#results_df.head()

In [19]:
result_list = []
for result in results:
    result_dict = {}
    result_dict["age"] = result[0]
    result_dict["bbtype"] = result[1]
    result_dict["ethnicity"] = result[2]
    result_dict["gender"] = result[3]
    result_dict["location"] = result[4]
    result_dict["sampleid"] = result[5]
    result_list.append(result_dict)
#print(result_list)

In [30]:
sample = "bb_941"

sample_split = sample.split("_")
int(sample_split[1])
sample_num = int(sample_split[1])
sample_num

941

In [21]:
results = session.query(Samples_meta.AGE, Samples_meta.BBTYPE, Samples_meta.ETHNICITY , 
                        Samples_meta.GENDER , Samples_meta.LOCATION, Samples_meta.SAMPLEID).filter(
    Samples_meta.SAMPLEID == sample_num).all()

In [22]:
print(results)

[(44, 'I', 'European', 'M', 'NewHaven/CT', 944)]

In [23]:
result_list = []
for result in results:
    result_dict = {}
    result_dict["age"] = result[0]
    result_dict["bbtype"] = result[1]
    result_dict["ethnicity"] = result[2]
    result_dict["gender"] = result[3]
    result_dict["location"] = result[4]
    result_dict["sampleid"] = result[5]
    result_list.append(result_dict)

In [24]:
result_list

[{'age': 44,
  'bbtype': 'I',
  'ethnicity': 'European',
  'gender': 'M',
  'location': 'NewHaven/CT',
  'sampleid': 944}]

### @app.route(wfreq)

In [31]:
results = (session.query(Samples_meta.WFREQ, Samples_meta.SAMPLEID).filter(
                            Samples_meta.SAMPLEID == sample_num).all())

In [32]:
print(results)

[(1, 941)]

In [33]:
results = (session.query(Samples_meta.WFREQ, Samples_meta.SAMPLEID).all())

In [117]:
#results

### @app.route('/samples/"sample"')

In [3]:
_csvpath = os.path.join('DataSets', 'belly_button_biodiversity_samples.csv')
_data = pd.read_csv(_csvpath)

In [4]:
_data.head()

,otu_id,BB_940,BB_941,BB_943,BB_944,BB_945,BB_946,BB_947,BB_948,BB_949,...,BB_1562,BB_1563,BB_1564,BB_1572,BB_1573,BB_1574,BB_1576,BB_1577,BB_1581,BB_1601
0,1,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
sample = "BB_941"

In [6]:
data_df = _data[['otu_id', sample]]
data_df.head()

   otu_id  BB_941
0       1       0
1       2       0
2       3       0
3       4       0
4       5       0

In [7]:
data_df = data_df.loc[data_df[sample] > 0]

In [8]:
data_df.reset_index(inplace = True)

In [9]:
#data_df_dict = data_df.to_dict(orient='records')

In [10]:
data_df = data_df.sort_values(sample, ascending=False)

In [11]:
data_df.head()

    index  otu_id  BB_941
76   2721    2722     194
26    943     944     178
58   2418    2419     162
62   2538    2539      92
91   3449    3450      84

In [12]:
data_df_list = data_df['otu_id'].tolist()

In [13]:
data_df_dict = {}
data_df_dict["otu_ids"] = data_df_list

In [14]:
data_df_dict["sample_values"] = data_df[sample].tolist()

In [15]:
data_df_dict

{'otu_ids': [2722,
  944,
  2419,
  2539,
  3450,
  1795,
  2389,
  1314,
  922,
  1167,
  2859,
  963,
  2964,
  2308,
  2651,
  482,
  874,
  2908,
  1870,
  2264,
  41,
  728,
  2782,
  352,
  1959,
  1188,
  1926,
  2461,
  2688,
  2704,
  189,
  2890,
  1929,
  3312,
  2500,
  1977,
  1310,
  296,
  854,
  939,
  710,
  1200,
  555,
  261,
  2676,
  2850,
  2687,
  2672,
  2666,
  641,
  562,
  2764,
  2682,
  308,
  314,
  730,
  307,
  2927,
  301,
  3036,
  3120,
  3134,
  3389,
  3446,
  3458,
  2660,
  2632,
  2650,
  2275,
  1672,
  1760,
  1213,
  1824,
  1202,
  1199,
  1942,
  1186,
  2077,
  2091,
  930,
  920,
  1600,
  2318,
  2340,
  919,
  2399,
  2404,
  2438,
  830,
  820,
  801,
  2551,
  2581,
  3461],
 'sample_values': [194,
  178,
  162,
  92,
  84,
  40,
  37,
  28,
  27,
  24,
  21,
  21,
  13,
  10,
  10,
  8,
  8,
  5,
  5,
  4,
  4,
  3,
  3,
  3,
  3,
  3,
  3,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1]}